# CMake file names
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Ignore the Sublime Text project
*.sublime-project
*.sublime-workspace

# Also ignore the build folder
build
build/
build/*